.action-bar { 
  height: $action-bar-height; 
  &>div{height:60px;}
  align-items: center;
    // padding:1%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.action-bar-button{
  height:100%;
  cursor: pointer;
  label{cursor: pointer;}
  transition:all ease-in-out .3s;
  //TODO: the last-of-type is changing 
  //the height/width of browser, but only the last one
  &:hover{
    box-shadow: none;
    transform:scale(1.3);
  }
  &:focus, 
  &:active {
    transform:scale(2);
  }
}

.swipeableAsset{
  // width: 100vw;
  color:white;
  // padding: 1rem;
  img {    
    border-radius: $border-radius;
    height:calc(100vh - #{$nav-height} - #{$action-bar-height});
    box-shadow: $button-box-shadow;
  }
}


div[class*="matches"] {
  .action-bar {
    position: absolute;
    bottom: 0;
    width: 92%;
    svg{font-size: 44px;}
    justify-content: space-between;
    .action{cursor: pointer;}
  }
}




//media queries

.desktop-layout{
  .swipeableAsset{
    img {    
      height:calc(100vh - #{$nav-height} - #{$action-bar-height} - #{$footer-height});
    }
  }
}
