footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  // position: absolute;
  // bottom: 0;
  padding: 0 1rem;
  height: $footer-height;
  a{
    font-weight: normal;
  }

    
  @media only screen and (min-width: $ipad-portrait){
    color: rgba(255,255,225,.4);
    a{
      color: rgba(255,255,225,.4);
    }
  }
}
