footer {
  color: rgba(255,255,225,.4);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  // position: absolute;
  // bottom: 0;
  padding: 0 1rem;
  height: $footer-height;
  a{
    color: rgba(255,255,225,.4);
    font-weight: normal;
  }
}