
.masonry-overlay {
  z-index:-1;
  background: rgba(0,0,0,0.55);
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}
.masonry {
  z-index:-2;
  display: flex;
  flex-flow: column wrap;
  /* width: 100vw; */
  height:100%;
  position: absolute;
  top:0;
  left:0;
  /* clip: rect(0,100%,100%,0); */
}

.flex-item {
  display: flex;
  flex: 0 0 auto;
  width: 25%;
  height:50%;
}
 
.flex-item:nth-child(3), .flex-item:nth-child(5),
.flex-item:nth-child(8), .flex-item:nth-child(10) {
  height: 25%;
}



/* .flex-item:nth-child(1) {
  min-height: 450px;
}

.flex-item:nth-child(2) {
  min-height: 350px;
}

.flex-item:nth-child(3) {
}

.flex-item:nth-child(4) {
  min-height: 300px;
}

.flex-item:nth-child(5) {
  min-height: 250px;
}

.flex-item:nth-child(6) {
}

.flex-item:nth-child(7) {
  min-height: 250px;
}

.flex-item:nth-child(8) {
}

.flex-item:nth-child(9) {
  min-height: 400px;
} */

