
nav {
    width: 100%;
    margin: 0;
    padding-inline-start: 0;
    height:$nav-height;
    display: flex;
    justify-content: space-between;
    z-index:1;
    ul {
        list-style-type:none;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        letter-spacing: 0.05rem;
        font-weight: 700;
    }
    a {
        display: flex;
        align-items: center;
        padding: 0 2vw;
        font-weight: normal;
    }
}
.desktop-layout{
    a{color: $soft-white;}
}