// nav.nav-hidden {
//     display: none;
// }

// nav.nav-shown {
//     display: flex;
//     flex-direction: column;
//     text-align: center;
//     width: 25%;
//     min-width: 250px;
//     background: $chetwode;
//     border-right: 1px solid $soft-border;
//     background-color: $bluenav;
// }

nav {
    width: 100%;
    margin: 0;
    padding-inline-start: 0;
    background: transparent;
    position: fixed;
    color:$soft-white;
    height:44px;
    display: flex;
    justify-content: space-between;
    z-index:1;
    ul {
        list-style-type:none;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        letter-spacing: 0.1rem;
    font-weight: 800;
    }
    a {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        color: $soft-white;
    }
    a:hover {  
        color: $hard-white;
    }
}


// nav .nav-link {
//     display: flex;
//     border: 0px solid #18ab29;
//     cursor: pointer;
//     width: 100px;
//     height: 44px;
//     padding-left: $grid-unit;
//     color: $hard-white;
//     font-weight: 700;
//     font-size: $menu-font-size;
//     align-items: center;
// }

// nav a {
//     text-decoration: none;
//     color: $hard-white;
// }

// .fauna-logo {
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;
//     height: var(--header-height);
//     max-height: var(--header-height);
//     color: $soft-white;
//     margin-bottom: calc(#{$grid-unit} / 2);
// }
