.profile-details{
  width: 100%;display:flex;
  flex-direction:row;justify-content:space-between;
  &>div{width:33.33%;text-align:center;
  svg{margin-right:5px;}
  }
}
.profile-description, .profile-meme-grid {
  padding: 0 1rem;
}


section {
 padding: 1.25rem 1.5rem;
//  box-shadow: $button-box-shadow; 
 border-radius: $border-radius;
 background:$white;
 margin:1rem 0;
 .section-header,p{margin:0;}
 p{margin-top:0.5rem;}
}

.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  width: 100%;
  .grid-item-wrap{
    width: 33.333%;
    position:relative;
    padding:2px;
    // margin-bottom: 2%;
    .grid-item{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    .meme-rating{
      position:absolute;z-index:1;height: 100%;width: 100%;display:flex;align-items:center;justify-content:center;
      opacity:0;
      background:rgba(0, 0, 0, 0.49);
      border-radius: $border-radius;
      transition:$generic-transition;
      &:hover{opacity:1;}
      img{width:60px;height:60px;}
    }
    .rated-meme{
      border-radius: $border-radius;position:absolute;top:0;height:100%;object-fit:contain;background:black;
      box-shadow: $button-box-shadow;
    // clip: rect(0px,40px,20px,0px);
    // overflow: hidden;
      &.not-mutually-rated{
        filter: blur(5px);
      }
    }
    &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
      
    }
  }
}