

.rate_meme_element{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  justify-content: space-between;
  .meme-radios{
    input{display:none;}
  }
  .emoji{
    width:100%;
    // height: auto;
    padding: 1%;
    object-fit: contain;
  }
  .action-bar-button label{
    border-radius:200px;
    background:transparent;
    border:0;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  .meme_to_rate{
    background:white;
    width: 100%;
    max-width: 100%;
    object-fit:contain;
  }
}

@media only screen and (min-width: $ipad-portrait){
  .meme_to_rate{
    background:black;
    border:2px solid white;
    // max-height: 100%;
    width: auto;
    max-width: 100%;
  }
  .meme-radios{
    background: #4e4949;
    // height: 16%;
    border: $form-border;
  }
  .rate_meme_element{
    background: transparent;
    // margin-top: calc(5px + #{$nav-height});
    // padding-bottom: calc(80px + #{$footer-height});
    // height: calc(100% - #{$nav-height} - #{$footer-height});
  }
}