

.rate_meme_element{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  justify-content: space-between;
  .meme-radios{
    input{display:none;}
    width:100%;
  }
  .emoji{
    width:100%;
    // height: auto;
    // padding: 1%;
    object-fit: contain;
    border-radius: 200%;
    width: 60px;
    background: transparent;
    box-shadow: $button-box-shadow;
    position: relative;
    top: 1px;
    left: 1px;
  }
  .action-bar-button label{
    border:0;
    padding: 0;
    margin: 0;
    height: 100%;
    border-radius: 200%;
    background: transparent;
    // box-shadow: $button-box-shadow;
  }
  .meme_to_rate{
    background:black;
    width: 100%;
    max-width: 100%;
    object-fit:contain;
  }
}

.desktop-layout{
  .action-bar.meme-radios{
    width: 500px;
  }
  .meme_to_rate{
    width: auto;
    max-width: 100%;
  }
  .rate_meme_element{
    background: transparent;
    height: calc(100vh - #{$nav-height} - #{$footer-height});
  }
}