
.account-form {
    justify-content: flex-start;
    align-items: flex-start;
    text-align:left;
}

.input-row {
  width: 100%;
  padding-top:1rem;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
}
input, button, input[type=checkbox] + label {
  border:none; 
  min-height: 44px; 
  padding: 0 0.5rem;
  cursor: pointer;
}

.form-wrapper {
  /* color: #ffffff; */
  background: $form-background;
  flex-direction: column;
  width: 100%;
  padding: .5rem;
}

.form-header {
  text-align: center;
  margin:0.5rem 0;
  h1{margin:0;}
  small{display:none;}
}
form {
  display: flex;
  flex-direction: column;
}

input{
  width: 100%;
  background: transparent;
  background: #e8f0fe; //TODO, this is Chrome's default fill background, on Windows anyway
  border: $input-border;
}
label{
  display:flex;
  padding-bottom: .2rem;
  color: $input-color;
  font-weight: 600;
}

.button-cta {
  background: $primary-cta;
  color:white;
  border-radius:50px;
  height: 60px;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: .06em;
  box-shadow: $button-box-shadow;
  margin-top:1rem;
  &:hover{
    color: white;
    background: $primary-cta-hover;
  }
}

.button-row-label{
  padding-bottom:.3rem;
}
.button-checkboxes {
  input,label{margin:0;}
  max-width:600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  // padding-top:0.5rem;
  // margin-left:-20px; //fix this later
  input[type=checkbox]
  ,input[type=radio] 
  {
    display: none;
    width: 20px;
    height: 30px;
    position: relative;
    left: 26px;
    top: 1px;
  }
  .input-group{
    padding-right: 5px;
    &:last-of-type{
      padding-right:0;
    }
  }
  /* the actual checkbox button*/
  
  //input[type=radio]:checked + label,
  input[type=checkbox] + label
  {
    font-size:1rem;
    min-height: 45px;
    min-width: 45px;  
    flex-wrap:wrap;
    &:last-child{
      margin-right:0;
    }
    flex:1;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: $input-color;
    cursor: pointer;
    letter-spacing: .02em;
    justify-content: flex-start;
    padding-left: 20px;
    border: $input-border;    
    box-shadow: $button-box-shadow;
    &:before {
      position: relative;
      font-family: 'Font Awesome 5 Free';
      font-weight: 400;
      left: -9px;
      content: "\f0c8";
    }
  } 

  input[type=checkbox]:hover + label { border:$input-border;} 

  //input[type=radio]:checked + label, 
  input[type=checkbox]:checked + label
  {
    background:#3384e8;
    font-style: normal;
    color:$white;
    box-shadow: 0 0 0 transparent;
    &:before {
      // position: relative;
      // font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      // content: "\f14a";
      content: "\f00c";
    }
  } 
}


.uploadAssets{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.uploadImageBox{
  border: 2px dashed $input-color;
  width: 33.33%;
  position:relative;min-height: 44px;
  &>div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 44px;
    position: absolute;
  }
  svg{
    z-index: 2;
    width: 100% !important; //could also be .svg-inline--fa.fa-w-16, 
    //but this should be edited in uploader.js anyway
    //and this isnt the final design yet anyway
    height: 100%;
    padding: 5%;
    color: $input-color;
    transition: $generic-transition;
    // padding: 2rem;
    cursor: pointer;
    &:hover{
      background: $primary-cta-hover;
      color: white;
      opacity: .7;
    }
  }
}

@media only screen and (min-width: $small-bp){
  .form-wrapper{width: auto;}
}
@media only screen and (min-width: $ipad-portrait){
  .form-header{
    small {display: flex;}
    h1{margin: 0 0 .5rem 0;}
  }
  .form-wrapper{
    border: $form-border;
    width: auto;
    padding: 2vw;
  }
  label {
    font-size: .8rem;
  }
}