$input-border:  2px solid #3384e8;


.account-form {
//     display: flex;
//     flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align:left;
//     width: 80%;
//     max-width: 600px;
//     height: 400px;
//     background: rgba(255,255,255,0.05);
    padding-top: 1rem;
}

// .account-form button {
//   min-width: 80px; 
//   margin-left: $grid-unit;
// }

.input-row {
//     display: flex;
//     margin: 10px;
//     justify-content: space-between;
//     align-items: center;
    width: 100%;
padding-top:1rem;
}

input, button, input[type=checkbox] + label {
  border:none; 
  height: 44px; 
  padding: 0 1rem;
  cursor: pointer;
}

.form-wrapper {
  width: 400px;
  /* color: #ffffff; */
  padding: 2rem;
  background: white;
  flex-direction: column;
  border-radius:12px;
}

.form-header {
  margin: 0 0 .3rem 0;
}
form {
  display: flex;
  flex-direction: column;
}

input{
  width: 100%;
  background: transparent;
  border: $input-border;
}
label{
  display:flex;
  // padding-bottom:.4rem;
}


.button-cta{
  margin-top:1.5rem;
}

.button-cta {
  background: $primary-cta;
  color:white;
  border-radius:50px;
  height:100%;width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor: pointer;
}

.form-with-button-checkboxes{
  font-weight: 600;
  input, label, button{
    max-width:580px;   //fix this later
  }
  input, input[type=checkbox] + label{
    // background:#f3f7ff;
    background: transparent;
    
  }
}
.button-checkboxes {
  input,label{margin:0;}
  max-width:600px;
  display: flex;
  flex-direction: row;
  width:100%;
  padding-top:0.5rem;
  // margin-left:-20px; //fix this later
  input[type=checkbox]
  // ,input[type=radio] 
  {
    display: none;
    width: 20px;
    height: 30px;
    position: relative;
    left: 26px;
    top: 1px;
  }
  /* the actual checkbox button*/
  input[type=checkbox] + label,
  input[type=radio] + label {
    height: 45px;
    margin-right: 5px;
    flex:1;
    display: flex;
    align-items: center;
    justify-content:center;
    font-weight: 500;
    color: #055dc9;
    cursor: pointer;
    letter-spacing: .02em;
    // padding: 0 10px 0 35px;
    border: $input-border;    
    box-shadow: 2px 2px 4px #888888;
  } 
  // input[type=checkbox]:hover + label {} 
  input[type=checkbox]:checked + label,
  input[type=radio]:checked + label {
    background:#3384e8;
    font-style: normal;
    color:$hard-white;
    box-shadow: 0 0 0 transparent;
  } 
}