
.account-form {
//     display: flex;
//     flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align:left;
//     width: 80%;
//     max-width: 600px;
//     height: 400px;
//     background: rgba(255,255,255,0.05);
    padding-top: 1rem;
}

// .account-form button {
//   min-width: 80px; 
//   margin-left: $grid-unit;
// }

.input-row {
//     display: flex;
//     margin: 10px;
//     justify-content: space-between;
//     align-items: center;
    width: 100%;
padding-top:1rem;
}

input, button, input[type=checkbox] + label {
  border:none; 
  height: 44px; 
  padding: 0 1rem;
  cursor: pointer;
}

.form-wrapper {
  width: 400px;
  /* color: #ffffff; */
  padding: 2rem;
  background: white;
  flex-direction: column;
  border-radius:12px;
}

.form-header {
  margin: 0 0 .3rem 0;
}
form {
  display: flex;
  flex-direction: column;
}

input{
  width: 100%;
  background: transparent;
  border-bottom: 2px solid #3384e8;
}
label{
  display:flex;
  // padding-bottom:.4rem;
}


.button-cta{
  margin-top:1.5rem;
}

.button-cta {
  background: $primary-cta;
  color:white;
  border-radius:50px;
  height:100%;width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor: pointer;
}

.form-with-button-checkboxes{
  //fix this later
  input, label, button{
    max-width:580px;
  }
  input, input[type=checkbox] + label{background:#f3f7ff;}
}
.button-checkboxes {
  input,label{margin:0;}
  max-width:600px;
  display: flex;
  flex-direction: row;
  width:100%;
  margin-left:-20px; //fix this later
  input[type=checkbox] {
    // display: none;
    width: 20px;
    height: 30px;
    position: relative;
    left: 26px;
    top: 1px;
  }
  /* the actual checkbox button*/
  input[type=checkbox] + label {
    height: 45px;
    // margin-right: 5px;
    flex:1;
    display: flex;
    align-items: center;
    // justify-content:center;
    color: #055dc9;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: .02em;
    padding: 0 10px 0 35px;
  } 
  // input[type=checkbox]:hover + label {
  //   background:#2da7c3;
  //   font-style: normal;
  // } 
  input[type=checkbox]:checked + label {
    background:#3384e8;
    font-style: normal;
    color:$hard-white;
  } 
}