
*{
  box-sizing: border-box;
}
.body-container, main.main-wrapper, .main-left, .main-right{
  width: 100%;
}
img { object-fit: cover; width:100%; }
a{text-decoration:none;}

.body-container{
  background: $background-color;
  position:absolute;display:flex;flex-direction:column;width:100%;}

main.main-wrapper {
  // background:black;
  flex-direction:column;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 4%;
}
.split-layout{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  max-width: 400px;
}
.main-left, .main-right{
  display: flex;
  // flex: 1;
  // width: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  img{}
}

@media only screen and (min-width: $small-bp){
  .body-container {
    min-height: 100%;
    justify-content: space-between;
  }
  main.main-wrapper { background:transparent;}
  .split-layout{
    flex-direction: row;
    max-width:100%;
    height: calc(100vh - #{$nav-height} - #{$footer-height})
  }
  .main-right{
    .profile-description{
      overflow:scroll;
      padding: 0;
    }
  }
  .main-left {
    img {
      max-height: 100%;
      // max-height:552px; //TODO js to make it same as form-height or a  $form-01-height variable
      width: auto;
      max-width: 100%;
      border: 2px solid white;
    }
  }

  .form-wrapper{
    border:$form-border;
  }
}
