
*{
  box-sizing: border-box;
}
.body-container, .main-wrapper, .main-left, .main-right{
  width: 100%;
}
img { object-fit: cover; width:100%; }
a{text-decoration:none;}

.body-container{
  // min-height:100vh;
  position:absolute;display:flex;flex-direction:column;width:100%;}

.main-wrapper {
  flex-direction:column;
  display:flex;
  align-items: center;
  justify-content: center; //needs to be  flex-start for media page and short browsers, 
//at least for now. figure out another way to center stuff on the page. 
//maybe an extra div inside of this one could center the stuff while this one starts at the top like:
                  // height: 100%;
                  //     display: flex;
                  //     justify-content: center;
                  //     flex-direction: column;

}


// div[class*="media"]{
  .main-wrapper {
    justify-content: flex-start;
    padding-top:$nav-height; //creates bug with footer when used elsewhere. 
    ///refactor layout for mobile once all else is done before wasting time 
    ///on this only to have to do it again later
  } 
// }


.split-page-layout{
  display: flex;
  flex-direction: column;
  width: 100%;
  .main-left, .main-right{
    display: flex;
    flex: 1;
    // width: 50%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    img{
    }
  }
}

.form-wrapper{
  border:0;
  max-width: 400px;
}

@media only screen and (min-width: $ipad-portrait){
  
  .body-container, .main-wrapper, .main-left, .main-right{
    // min-height: calc(100vh);
    min-height: 100%;
  }
  
  .split-page-layout {
    min-height: calc(100vh - #{$footer-height});
  }


  main {  flex-direction: row;}
  .split-page-layout{
    flex-direction: row;
    .main-left, .main-right{}
    .main-left {
      padding: 3%;
      max-height: 100vh;
      img {
        // max-height: 100%;
        max-height:552px; //TODO js to make it same as form-height or a  $form-01-height variable
        width: auto;
        // max-width: 100%;
        border: 2px solid white;
      }
    }
    .form-wrapper{
      border:$form-border;
    }
  }
}

// @media only screen and (min-width:1024px){
//   .body-container, .main-wrapper, .main-left, .main-right{}

//   main {}
//   .split-page-layout{
//     .main-left, .main-right{}
//     .main-left {
//       img {
//         height:552px; //TODO js to make it same as form-height or a  $form-01-height variable
//         width: auto;
//         // max-width: 100%;
//         border: 2px solid white;
//       }
//     }
//     .form-wrapper{
//       border:$form-border;
//     }
//   }


// }
