// /* The emerging W3C standard
//    that is currently Firefox-only */
*{
  scrollbar-width: thin;
  scrollbar-color: $hot-pink white;
  /* Works on Chrome/Edge/Safari */
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: white;
    border-radius: 80px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $hot-pink;
    border-radius: 20px;
    border: 0px solid white;
  }
}