
// CSS
* {
    box-sizing: border-box;
}
// // Main colors used (https://www.color-blindness.com/color-name-hue/)

$small-bp: 768px;
$ipad-portrait: 768px;

$background-color: #f7f7f7;
$soft-white: rgba(255,255,255,0.8);
$hard-white: rgba(255,255,255,0.95);
$white: rgba(255,255,255,0.98);
$text-color: grey; //TODO pick good one and use it. this isnt doing anything
$link-color: #172ff0;
$primary-cta: #FF0AF7;
$primary-cta-hover: $link-color;
$secondary-cta: #03b0a0;
$input-color: #3384e8; 
$input-border:  2px solid $input-color;
$button-box-shadow: 2px 2px 4px rgba(0,0,0,.5);
$form-background: white;
$form-border: 2px solid $primary-cta;
$border-radius: 8px;
$footer-height: 36px;
$nav-height: 50px;
$min-touch: 36px;
$action-bar-height: 92px;
$generic-transition: all .5s ease-in-out;
$grey-legible: #798086;
$grey-gradient: linear-gradient(160.49deg, #C0C9D2 12.86%, #B0C0CF 84.67%);
$teal: #04A7C9;
$teal-gradient: linear-gradient(161.3deg, #04A7C9 14.59%, #00BDB2 81.6%);
$pink-gradient: linear-gradient(86.74deg, #FF1800 11.09%, #FF009B 87.91%);

//TODO: This doesnt work. forgot how to do this
@media only screen and (min-width: $ipad-portrait){
    $form-border: 0;
}

@import "./theme/normalize";
@import "./theme/typ";
@import "./theme/layout";
@import "./theme/forms";
@import "./theme/tabs";
@import "./components/nav";
@import "./components/footer";
@import "./components/decks";

//PAGE-SPECIFIC
@import "./components/masonry";
@import "./pages/page-specific-styles";
@import "./pages/rate-memes";
@import "./pages/profile";


// CSS from libraries  
@import "react-toastify/dist/ReactToastify";


